.App {
  text-align: center;
}

/* CongratulationPage.css */

/* Set background color and text alignment */
.congratulation-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  flex-direction: column;
  text-align: center;
}

/* Base message style */
.message, .sub-message {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s ease-out;
}

/* Make the message appear with animation */
.show {
  opacity: 1;
  transform: translateY(0);
}

/* Colorful text animation */
.message {
  font-size: 3rem;
  animation: color-change 3s infinite alternate;
}

.sub-message {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #f0f0f0;
}

/* Animation for colorful text */
@keyframes color-change {
  0% {
    color: #ff69b4; /* Pink */
  }
  25% {
    color: #ff6347; /* Tomato */
  }
  50% {
    color: #32cd32; /* Lime Green */
  }
  75% {
    color: #1e90ff; /* Dodger Blue */
  }
  100% {
    color: #ff0; /* Yellow */
  }
}


/* QuestionPage.css */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

.question-page {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 30px;
  text-align: center;
}

.question-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.code-input {
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.code-input:focus {
  border-color: #4CAF50;
}

.submit-btn {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #45a049;
}

.error-message {
  margin-top: 20px;
  color: #f44336;
  font-size: 1rem;
  font-weight: bold;
}
